<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--检查哪个目录的文件或者文件夹-->
    <add key="SearchDir" value="D:\\other\\csharpCode\\Winform-AutoUpdate\\Winform-AutoUpdate\\Midea.Mes.Frm\\bin\\Debug"/>
    <!--抽取当前时间提前多少天文件出来发布-->
    <add key="AddvancedDay" value="10"/>
    <!--忽略的文件夹-->
    <add key="IgnoredDir" value=""/>
    <!--忽略的文件-->
    <add key="IgnoredFile" value=""/>
    <add key="URL" value="http://192.168.232.1:8090/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>